In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [2]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [3]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

NameError: name 'data' is not defined

In [4]:
X = pd.DataFrame(boston['data'], columns=boston['feature_names'])
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
y = pd.DataFrame(boston['target'], columns=boston['price'])
y.head()

KeyError: 'price'

In [6]:
y = pd.DataFrame(boston['target'], columns=boston["price"])
y.head()

KeyError: 'price'

In [7]:
y = pd.DataFrame(boston['target'], columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30,  random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
lr = LinearRegression()

In [12]:
lr.fit(X_train, y_train)

LinearRegression()

In [13]:
lr.fit(X_train, y_train)

LinearRegression()

In [14]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": lr.predict(X_test).flatten()
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [15]:
from sklearn.metrics import r2_score

In [16]:
R2 = r2_score(check_test['y_test'], check_test['y_pred'])
print(R2)

0.711226005748496

### 2 Задание

In [17]:
from sklearn.ensemble import RandomForestRegressor

In [18]:
model = RandomForestClassifier(n_estimators=1000, max_depth=12, random_state=42)

NameError: name 'RandomForestClassifier' is not defined

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
model = RandomForestClassifier(n_estimators=1000, max_depth=12, random_state=42)

In [21]:
model.fit(X_train, y_train.values[:,0])

ValueError: Unknown label type: 'continuous'

In [22]:
y_train_new = np.array(y_train.values[:, 0], dtype=int)

In [23]:
model.fit(X_train, y_train_new)

RandomForestClassifier(max_depth=12, n_estimators=1000, random_state=42)

In [24]:
check_test_rfc = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": model.predict(X_test).flatten()
})

check_test_rfc.head(10)

     y_test  y_pred
173    23.6      22
274    32.4      32
491    13.6      15
72     22.8      23
452    16.1      14
76     20.0      20
316    17.8      19
140    14.0      13
471    19.6      21
500    16.8      21

In [25]:
R2_rfc = r2_score(check_test_rfc['y_test'], check_test_rfc['y_pred'])
print('RandomForest R2: ', R2_rfc)
print('LinearRegression R2: ', R2)

RandomForest R2:  0.8370756186213897
LinearRegression R2:  0.711226005748496

##### В данном случае лучший результат показала модель, построенная на алгоритме Random Forest.

### 3 Задание

In [26]:
from sklearn.ensemble import RandomForestRegressor
?RandomForestRegressor

In [27]:
print(sum(model.feature_importances_))

1.0

In [28]:
feat_imp = pd.DataFrame({
    "feature_name": boston['feature_names'],
    "feature_importance": model.feature_importances_
})
feat_imp

   feature_name  feature_importance
0          CRIM            0.115472
1            ZN            0.021473
2         INDUS            0.049592
3          CHAS            0.009745
4           NOX            0.072786
5            RM            0.137637
6           AGE            0.108621
7           DIS            0.109380
8           RAD            0.032542
9           TAX            0.049919
10      PTRATIO            0.052173
11            B            0.097979
12        LSTAT            0.142680

In [29]:
feat_imp.sort_values("feature_importance", ascending=False).head(2)

   feature_name  feature_importance
12        LSTAT            0.142680
5            RM            0.137637